In [4]:
import pandas as pd

df=pd.read_csv("GOOGL.csv")
df


df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-22,198.528534,199.524521,196.196198,196.946945,196.946945,3433700
1,2009-05-26,196.171173,202.702698,195.195190,202.382385,202.382385,6202700
2,2009-05-27,203.023026,206.136139,202.607605,202.982986,202.982986,6062500
3,2009-05-28,204.544540,206.016022,202.507507,205.405411,205.405411,5332200
4,2009-05-29,206.261261,208.823822,205.555557,208.823822,208.823822,5291100

In [12]:
mask=df["High"].between(180,300)
df[mask]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-22,198.528534,199.524521,196.196198,196.946945,196.946945,3433700
1,2009-05-26,196.171173,202.702698,195.195190,202.382385,202.382385,6202700
2,2009-05-27,203.023026,206.136139,202.607605,202.982986,202.982986,6062500
3,2009-05-28,204.544540,206.016022,202.507507,205.405411,205.405411,5332200
4,2009-05-29,206.261261,208.823822,205.555557,208.823822,208.823822,5291100
5,2009-06-01,209.574570,215.015015,209.474472,213.493500,213.493500,6638100
6,2009-06-02,213.338333,215.195190,211.911911,214.414413,214.414413,5241900
7,2009-06-03,213.213211,216.446442,212.212219,216.041046,216.041046,7058500
8,2009-06-04,217.867874,220.840836,217.467468,220.360367,220.360367,7268900
9,2009-06-05,222.757751,223.893890,219.949951,222.382385,222.382385,7354200
10,2009-06-08,219.969971,220.680679,217.277283,219.604599,219.604599,6191200
11,2009-06-09,219.509506,220.470474,216.096100,218.028030,218.028030,6503200
12,2009-06-10,218.333328,219.164169,213.548553,216.516510,216.516510,6711000
13,2009-06-11,216.101105,217.082077,214.399399,214.714722,214.714722,5724600
14,2009-06-12,213.643646,214.064072,210.815811,212.632629,212.632629,5830900
15,2009-06-15,210.960968,210.960968,207.207214,208.593597,208.593597,7466300
16,2009-06-16,209.864868,210.755753,207.917923,208.208206,208.208206,6093300
17,2009-06-17,208.303299,210.070068,205.985992,207.787781,207.787781,6973200
18,2009-06-18,208.048050,209.554550,206.706711,207.237244,207.237244,6164200
19,2009-06-19,209.314316,210.440445,207.497498,210.255249,210.255249,8509600
20,2009-06-22,208.683685,208.953949,201.146149,203.878876,203.878876,8240500
21,2009-06-23,203.528534,204.699707,201.476471,203.043045,203.043045,5793400
22,2009-06-24,204.574570,206.321320,203.483490,204.849854,204.849854,4910600
23,2009-06-25,203.703705,208.158157,203.458466,208.093094,208.093094,6082900
24,2009-06-26,207.047043,214.329330,206.761765,212.872879,212.872879,6506800
25,2009-06-29,213.213211,214.114120,211.331329,212.282288,212.282288,4334200
26,2009-06-30,212.212219,213.818817,209.319321,211.006012,211.006012,5182600
27,2009-07-01,212.312317,213.413406,209.284286,209.704712,209.704712,4616900
28,2009-07-02,207.912918,207.912918,203.608612,204.449448,204.449448,5030100
29,2009-07-06,203.453461,205.525528,201.031036,205.010010,205.010010,4520600
...,...,...,...,...,...,...,...
766,2012-06-06,288.528534,291.276276,287.092102,290.575562,290.575562,4187400
767,2012-06-07,294.094086,294.239227,288.913910,289.404419,289.404419,3513400
768,2012-06-08,288.213226,290.790802,287.577576,290.515503,290.515503,2817900
769,2012-06-11,292.397400,292.952942,283.628632,284.534546,284.534546,5316800
770,2012-06-12,285.170166,285.435425,279.569580,282.832825,282.832825,6441900
771,2012-06-13,281.141144,283.783783,279.619629,280.825836,280.825836,3904400
772,2012-06-14,280.930939,282.817810,278.538544,279.804810,279.804810,4685100
773,2012-06-15,280.450439,282.542542,278.823822,282.537537,282.537537,5996300
774,2012-06-18,281.591583,287.392395,279.904907,285.710724,285.710724,4988800
775,2012-06-19,287.082092,292.432434,286.846832,291.056061,291.056061,4148200
776,2012-06-20,290.195190,290.290283,287.042053,289.044037,289.044037,4688700
777,2012-06-21,290.210205,290.210205,282.147156,282.887878,282.887878,4018500
778,2012-06-22,284.284271,286.026031,283.193207,286.026031,286.026031,4451300
779,2012-06-25,283.948944,284.329315,278.953949,280.630646,280.630646,3160000
780,2012-06-26,281.661652,283.583588,280.020020,282.622620,282.622620,2697600
781,2012-06-27,284.134125,287.282288,283.293304,284.934937,284.934937,3381200
782,2012-06-28,283.233246,283.398407,278.883881,282.437439,282.437439,3837900
783,2012-06-29,287.767761,290.355347,286.386383,290.325317,290.325317,5033900
784,2012-07-02,291.201202,291.791779,288.538544,290.525513,290.525513,3307600
785,2012-07-03,290.295288,294.499512,289.289276,294.209198,294.209198,2376600
787,2012-07-06,296.521515,297.057068,291.701691,293.283295,293.283295,4319200
788,2012-07-09,292.767761,294.594604,290.915924,293.298309,293.298309,3426700
789,2012-07-10,295.390381,296.511505,289.659668,291.141144,291.141144,3842300
790,2012-07-11,288.438446,289.214203,282.752747,285.880890,285.880890,6991600
791,2012-07-12,283.843842,286.251251,281.326324,285.525513,285.525513,4614900
792,2012-07-13,286.361359,289.864868,284.559570,288.548553,288.548553,3948000
793,2012-07-16,288.473480,289.884888,286.176178,287.747742,287.747742,2922200
794,2012-07-17,289.504517,290.625641,284.484497,288.653656,288.653656,3356800
795,2012-07-18,288.778778,292.137146,288.353363,290.670685,290.670685,3093300
796,2012-07-19,293.363373,299.539551,293.293304,296.826813,296.826813,9340000

In [15]:
df["Open"].between(190,250)
df[df["Open"].between(190,250)].head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-22,198.528534,199.524521,196.196198,196.946945,196.946945,3433700
1,2009-05-26,196.171173,202.702698,195.195190,202.382385,202.382385,6202700
2,2009-05-27,203.023026,206.136139,202.607605,202.982986,202.982986,6062500
3,2009-05-28,204.544540,206.016022,202.507507,205.405411,205.405411,5332200
4,2009-05-29,206.261261,208.823822,205.555557,208.823822,208.823822,5291100

In [22]:
mask=df["Date"].between('2009-05-22','2009-05-27')
mask2=df["Open"].between(190,200)
df[mask & mask2]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-22,198.528534,199.524521,196.196198,196.946945,196.946945,3433700
1,2009-05-26,196.171173,202.702698,195.195190,202.382385,202.382385,6202700