In [6]:
import pandas as pd

google=pd.read_csv("pokemon.csv", squeeze=True)
google.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
google.fillna(0) #to fill the NaN 
google["HP"].fillna(0, inplace=True)

0       45
1       60
2       80
3       80
4       39
5       58
6       78
7       78
8       78
9       44
10      59
11      79
12      79
13      45
14      50
15      60
16      40
17      45
18      65
19      65
20      40
21      63
22      83
23      83
24      30
25      55
26      40
27      65
28      35
29      60
      ...
770     95
771     78
772     67
773     50
774     45
775     68
776     90
777     57
778     43
779     85
780     49
781     44
782     54
783     59
784     65
785     55
786     75
787     85
788     55
789     95
790     40
791     85
792    126
793    126
794    108
795     50
796     50
797     80
798     80
799     80
Name: HP, Length: 800, dtype: int64

In [17]:
google['Type 2'].fillna("poison")
google['Type 2'].fillna("poison", inplace=True)
google.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,80,39,52,43,60,50,65,1,False